<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      >

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
	
		<target xsi:type="File" name="Logfile" fileName="C:/Users/purushottam_panchal/Desktop/ShoppingApiLog.txt"
				layout="${longdate} | ${event-properties:item=EventId:whenEmpty=0} | ${level:uppercase=true} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}|${callsite} | ${message} ${exception:format=tostring}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>

		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" maxlevel="Fatal"  writeTo="Logfile" />
		
	</rules>
</nlog>